<button type="button" class="btn btn-primary bg-blue-900" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Inscribir asociado
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inscribir asociado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/inscriptions/{{page}}" method="POST">
          <div class="form-group">
            {{form_inscripcion.hidden_tag() }} {{ form_inscripcion.Asociado.label }} {{
            form_inscripcion.Asociado(class="form-control") }}
          </div>
          <div class="form-group">
            {{form_inscripcion.hidden_tag() }} {{ form_inscripcion.Disciplina.label }} {{
            form_inscripcion.Disciplina(class="form-control") }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger bg-red-600" data-bs-dismiss="modal">Cancelar</button>
            <input type="submit" value="Inscribir!" class="btn btn-primary block ml-auto bg-blue-900" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
