<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row"> 
       <div class="col-lg-6 order-1 order-lg-1 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{ url_for('static', filename='img/logo_club.png') }}" class="img-fluid animated" alt="Logo del club de barrio Villa Elisa">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-2" data-aos="fade-up" data-aos-delay="200">
          <h1>Club de barrio de Villa Elisa</h1>
          <h2>Bienvenido a la aplicación del club</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>

      </div>
    </div>

  </section>